@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  background-color: #EEE2DE;
  color: #164B60;
  font-family: 'Poppins', sans-serif;
}

#timer-container {
  height: 100vh;
  width: 400px;
  margin: 0 auto;
}

#content {
  padding: 2rem;
  margin: 1rem 0;
  border: 2px solid #164B60;
  border-radius: 20px;
  width: 500px;
}

#title,
#timer-label,
#time-left {
  font-size: 46px;
  color: #FF2171;
  font-weight: 700;
}

#start_stop,
#reset,
#session-increment,
#session-decrement,
#break-increment,
#break-decrement {
  cursor: pointer;
}

#session-increment,
#session-decrement,
#break-increment,
#break-decrement {
  font-size: 23px;
  margin: auto 0;
}

#start_stop:hover,
#reset:hover {
  transform: scale(1.2);
}

p {
  color: #435B66;
  text-align: center;
  font-size: 14px;
}